.contact-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-bottom: 60px;
}
.map {
  width: 100%;
  height: 50vh;
  margin: 2rem 0;
  justify-content: center;
  text-align: center;
  margin-bottom: 0;
}
.social {
  display: flex;
  justify-content: center;
  margin-top: 0;
}
.social a {
  display: inline-block;
  margin: 0 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  border: solid 2px #E94b3cff ; 
  background-color: #E94b3cff;
  color:#ffff;
}
.social a:hover {
  color: #E94b3cff ;
  background-color: #ffff; 
}
iframe{
  border: 2px solid #E94b3cff;
  border-radius: 1rem;
}

/* CSS for smaller screens*/
@media screen and (min-width: 375px) and (max-width: 812px){
  .social a {
    background-color:#E94b3cff;
    transition: all 0.3s ease-in-out;
    width: 80px; 
    border: solid 2px #E94b3cff ; 
  }
  .social a:hover {
    background-color:#ffff; 
  }  
  .contact-page {
    display: flex;
    margin-top: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    font-size: 0.7rem;
    padding-left: 0;
   
  }
  .map {
    height: 30vh;
  } 
}


