* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  color: auto;
}
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5 ;
}
h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
  text-align: center;
 
}

p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

header{
  justify-content:center;
  padding-right: 80px;
  padding-bottom: 0px;
  
  
}
.Bakground{
  padding: 0px;
  
}
/* CSS for screens 320px and smaller */
@media screen and (min-width: 375px) and (max-width: 812px) {
  .home{
    height: 80vh;
    padding-top: 150px;
    text-align: center;
  }
 
}